server:
  port: 8083

spring:
  application:
    name: leaderboard-service

  redis:
    host: leaderboard-service
    port: 6379

  kafka:
    bootstrap-servers: leaderboard-service:9092
    consumer:
      group-id: leaderboard-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://leaderboard-service:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
