version: '3.8'

services:

  # =======================
  # Infrastructure
  # =======================

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # =======================
  # Core Services
  # =======================

  eureka-server:
    build: ./eureka-server
    ports:
      - "8761:8761"

  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server

  auth-service:
    build: ./auth-service
    ports:
      - "8081:8081"
    depends_on:
      - config-server
      - eureka-server
    environment:
      SPRING_PROFILES_ACTIVE: docker

  exam-service:
    build: ./exam-service
    ports:
      - "8082:8082"
    depends_on:
      - auth-service
      - kafka
      - eureka-server
    environment:
      SPRING_PROFILES_ACTIVE: docker

  leaderboard-service:
    build: ./leaderboard-service
    ports:
      - "8083:8083"
    depends_on:
      - kafka
      - redis
      - eureka-server
    environment:
      SPRING_PROFILES_ACTIVE: docker

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - exam-service
      - leaderboard-service
      - eureka-server
    environment:
      SPRING_PROFILES_ACTIVE: docker



#docker-compose -f docker-compose-kafka.yml up -d
#docker exec -it kafka kafka-topics \
#--create \
#--topic exam-submitted \
#--bootstrap-server localhost:9092 \
#--partitions 3 \
#--replication-factor 1