server:
  port: 8082

spring:
  application:
    name: exam-service

  datasource:
    url: jdbc:h2:mem:examdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
  data:
    redis:
          host: exam-service
          port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://exam-service:8761/eureka


  kafka:
    bootstrap-servers: exam-service:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
